$bleu_clair: rgb(228, 250, 255);
$vert: rgb(160, 255, 160);
$orange: rgb(255, 196, 0);
$red: rgb(252, 127, 127);
$white: white;
$marge: 1%;
$marge_grand: 10%;
$pixel: 5px;
$pixel_case: 50px;

body {
    background-color: $bleu_clair;
}

.marge {
    margin-top: $marge;
    margin-bottom: $marge;
}

.creation {
    margin-top: 3 * $marge;
    margin-bottom: 3 * $marge;
}

.bouton {
    background-color: $red;
    border-color: $red;
    color: $white;
    &:hover {
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
    &:active {
        background-color: $vert;
        border-color: $vert;
        color: $white;
    }
}

.titre {
    min-height: $pixel_case;
    margin-bottom: $pixel;
}

.case {
    min-height: $pixel * 52;
    border-radius: $pixel_case / 2;
}

.ecart {
    margin-top: $marge * 3;
}

.ecart_bouton {
    margin-top: $marge * 6;
}

.centrer {
    text-align: center;
}

.texte_droite {
    text-align: right;
    margin-right: $pixel * 6;
}

.decaler {
    margin-right: -35%;
}

.decaler_bouton {
    margin-right: -18%;
}

.input_description {
    width: $pixel_case * 8;
    height: $pixel_case * 3/2;
    min-width: $pixel_case * 8;
    min-height: $pixel_case * 3/2;
    max-width: $pixel_case * 8;
    max-height: $pixel_case * 3/2;
}

.input_adresse {
    width: $pixel_case * 6;
}

input::placeholder {
    text-align: center;
}

input,
textarea,
select {
    text-align: center;
    border-radius: $pixel * 2;
}

textarea::placeholder {
    text-align: center;
    line-height: $pixel * 13;
}
