{% extends 'base.html.twig' %}

{% block title %}
	Page gestion annonce
{% endblock %}

{% block body %}
	<div class="container marge">
		<div class="row justify-content-center">
			<h1>Page Gestion des Annonces</h1>
		</div>
		<div class="row justify-content-around creation decaler_bouton">
			<div class="col-sm-3">
				<a href="/" role="button" class="btn bouton">Retour</a>
			</div>
			<div class="col-sm-3">
				<a href="/formulaire" role="button" class="btn bouton">Créer une offre</a>
			</div>
		</div>

		<div class="row">
			{% for offre in offres %}
				<div class="col-md-3 marge">
					<div class="card case">
						<div class="card-body">
							<div class="titre">
								<h5 class="card-title centrer">{{offre.titre}}</h5>
							</div>
							<p class="card-text centrer">{{offre.description}}</p>
							<p class="card-text centrer">{{offre.ville}}</p>
							<p class="card-text centrer">{{offre.codepostal}}</p>
							<p class="card-text centrer">{{offre.adresse}}</p>
							<p class="card-text centrer">{{offre.contrat.titre}}</p>
							<p class="card-text centrer">{{offre.typecontrat.titre}}</p>
							<p class="card-text centrer">{{offre.datecreation | date("d/m/Y à H:m:s")}}</p>
							<p class="card-text centrer">{{offre.datemiseajour | date("d/m/Y à H:m:s")}}</p>
							{% if offre.finmission != NULL %}
								<p class="card-text centrer">{{offre.finmission  | date("d/m/Y")}}</p>
							{% endif %}
							<div class="row justify-content-center">
								<a href="/gestion/{{offre.id}}" role="button" class="btn bouton">Modifier</a>
							</div>
							<div class="row justify-content-center ecart_bouton">
								<a href="{{ path('offre.supprimer', {'id':offre.id}) }}" role="button" class="btn bouton">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
