{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block body %}
	<div class="container marge">
		<div class="row justify-content-center">
			<h1>Page des Offres</h1>
		</div>
		<div class="row justify-content-around creation decaler_bouton">
			{% if is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="/gestion" role="button" class="btn bouton">Gestion des Offres</a>
				</div>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="{{ path('app_logout') }}" role="button" class="btn bouton">Déconnexion</a>
				</div>
			{% endif %}
			{% if not is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="/register" role="button" class="btn bouton">Inscription</a>
				</div>
			{% endif %}
			{% if not is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="/login" role="button" class="btn bouton">Se Connecter</a>
				</div>
			{% endif %}
		</div>

		<div class="row">
			{% for offre in offres %}
				<div class="col-md-3 marge">
					<div class="card case">
						<div class="card-body">
							<div class="titre">
								<h5 class="card-title centrer">{{offre.titre}}</h5>
							</div>
							<p class="card-text centrer">{{offre.ville}}</p>
							<p class="card-text centrer">{{offre.contrat.titre}}</p>
							<p class="card-text centrer">{{offre.typecontrat.titre}}</p>
							<div class="row justify-content-center">
								<a href="/offre/{{offre.id}}" role="button" class="btn bouton">Voir Offre</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
