{% extends 'base.html.twig' %}

{% block title %}
	Page Modification Offre
{% endblock %}

{% block body %}
	<div class="container marge">
		<div class="row justify-content-center">
			<h1>Page Modification Offre</h1>
		</div>
		<div>
			{{ form_start(formulaire) }}
			<div id="erreur">
				{{ form_errors(formulaire) }}
			</div>
			<div class="row justify-content-center ecart">
				{{ form_widget(formulaire.titre) }}
			</div>
			<div class="row justify-content-center ecart">
				{{ form_widget(formulaire.description) }}
			</div>
			<div class="row justify-content-center ecart">
				{{ form_widget(formulaire.adresse) }}
			</div>
			<div class="row justify-content-around ecart">
				<div class="col-sm-3 decaler texte_droite">
					{{ form_widget(formulaire.ville) }}
				</div>
				<div class="col-sm-3">
					{{ form_widget(formulaire.code_postal) }}
				</div>
			</div>
			<div class="row justify-content-center ecart">
				Contrat :
			</div>
			<div class="row justify-content-center marge">
				{{ form_widget(formulaire.contrat) }}
			</div>
			<div class="row justify-content-center ecart">
				Type de contrat :
			</div>
			<div class="row justify-content-center marge">
				{{ form_widget(formulaire.type_contrat) }}
			</div>
			<div id="fin_mission" class="row justify-content-center ecart">
				Date de fin de Mission :
			</div>
			<div id="date_fin_mission" class="row justify-content-center marge">
				{{ form_widget(formulaire.fin_mission) }}
			</div>
			<div class="row justify-content-center ecart">
				{{ form_row(formulaire.envoyer) }}
			</div>
			{{ form_end(formulaire) }}
		</div>
	</div>
{% endblock %}
