{% extends 'base.html.twig' %}

{% block title %}
	{{offre.titre}}
{% endblock %}

{% block body %}
	<div class="container marge">
		<div class="row justify-content-center">
			<h1>Offre :
				{{offre.titre}}
			</h1>
		</div>
		<div class="row justify-content-center ecart">
			<div class="col-sm-5">
				<p>La description :
					{{offre.description}}
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<p>Le contrat est
				<strong>
					{{offre.contrat.titre}}
				</strong>
				à
				<strong>
					{{offre.typecontrat.titre}}
				</strong>.
			</p>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3 decaler texte_droite">
				<p>L'adresse est
					<br/>
					{{offre.adresse}}
				</p>
			</div>
			<div class="col-sm-3">
				<p>La date de mise en ligne est
					{{offre.datecreation | date("d/m/Y à H:m:s")}}
				</p>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3 decaler texte_droite">
				<p>Le code postal est
					<br/>
					{{offre.codepostal}}
				</p>
			</div>
			<div class="col-sm-3">
				<p>La date de mise à jour est
					<br/>
					{{offre.datemiseajour | date("d/m/Y à H:m:s")}}
				</p>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3 decaler texte_droite">
				<p>La ville est
					<br/>
					{{offre.ville}}
				</p>
			</div>
			<div class="col-sm-3">
				{% if offre.finmission %}
					<p>La date de fin de mission est
						<br/>
						{{offre.finmission  | date("d/m/Y")}}
					</p>
				{% endif %}
			</div>
		</div>
		<div class="row justify-content-center">
			<button type="button" class="btn bouton">Postuler</button>
		</div>
	</div>
{% endblock %}
