{% extends 'base.html.twig' %}

{% block title %}
	Page Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if erreur %}
			<div class="alert alert-danger">{{ erreur.messageKey|trans(erreur.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 centrer ecart">
				Vous êtez connecté sous
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal centrer">Connectez-vous</h1>
		<div class="row justify-content-center ecart">
			<div class="col-sm-3">
				<input type="email" value="{{ nom_utilisateur }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
			</div>
		</div>
		<div class="row justify-content-center ecart">
			<div class="col-sm-3">
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
			</div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="row justify-content-center ecart">
			<button class="btn bouton" type="submit">
				Connexion
			</button>
		</div>
	</form>
{% endblock %}
