{% extends 'base.html.twig' %}

{% block title %}
	Page Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1 class="centrer ecart">Inscription</h1>

	{{ form_start(formulaire) }}
	<div id="erreur">
		{{ form_errors(formulaire) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_widget(formulaire.prenom) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_widget(formulaire.nom_famille) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_widget(formulaire.nom_utilisateur) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_widget(formulaire.email) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_widget(formulaire.plainPassword) }}
	</div>
	<div class="row justify-content-center ecart">
		{{ form_row(formulaire.Inscription) }}
	</div>
	{{ form_end(formulaire) }}
{% endblock %}
